
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/home.css"> <!-- Include your CSS if needed -->
</head>
<body>
    <h1>Welcome to MessageBoard</h1>
    <p>Please log in with Google:</p>
    <br>
    <a href="/auth/google">Login with Google</a>
    <a href="/logout" id="logout-button">Logout</a>
</body>
</html>