<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/home.css"> <!-- Include your CSS if needed -->
</head>
<body>
    <h1>Welcome to MessageBoard</h1>
    <% if (user && user.displayName) { %>
        <p>Welcome, <%= user.displayName %>!</p>
        <a href="/messages">Go to Message Board</a>
        <a href="/logout" id="logout-button">Logout</a>

    <% } else { %>
        <p>Please log in with Google:</p>
        <br>
        <a href="/auth/google">Login with Google</a>
    <% } %>
</body>
</html>
